---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<IMAGE_API_KEY>&page=1&per_page=1&query=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<IMAGE_API_KEY>&page=2395&per_page=1&query=denver%2C+co>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<IMAGE_API_KEY>&page=2&per_page=1&query=denver%2C+co>;
        rel="next"
      X-Total:
      - '2395'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"91662e21bb411d36ccdffe4794c7abfb"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2395,"total_pages":2395,"results":[{"id":"s9DmLgLdugg","created_at":"2020-01-31T14:38:48-05:00","updated_at":"2021-01-25T06:12:12-05:00","promoted_at":null,"width":3840,"height":5120,"color":"#262626","blur_hash":"LnD0yDr;R-j??wjDR*axpJWAV?f6","description":"Wall
        painting in Denver. ","alt_description":"man riding horse holding a flag of
        america painting","urls":{"raw":"https://images.unsplash.com/photo-1580499518184-89bd0b1b061d?ixid=MXwxOTkxMTd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1580499518184-89bd0b1b061d?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTkxMTd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1580499518184-89bd0b1b061d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxMTd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1580499518184-89bd0b1b061d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxMTd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1580499518184-89bd0b1b061d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkxMTd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsJTIwY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/s9DmLgLdugg","html":"https://unsplash.com/photos/s9DmLgLdugg","download":"https://unsplash.com/photos/s9DmLgLdugg/download","download_location":"https://api.unsplash.com/photos/s9DmLgLdugg/download"},"categories":[],"likes":36,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"jVGnjy5TC54","updated_at":"2021-01-24T01:16:21-05:00","username":"jenspeter","name":"Jens
        Peter Olesen","first_name":"Jens Peter","last_name":"Olesen","twitter_username":"creaticdesign","portfolio_url":"https://www.creatic.design","bio":"Graphic
        designer and world traveller.","location":"Copenhagen, Denmark","links":{"self":"https://api.unsplash.com/users/jenspeter","html":"https://unsplash.com/@jenspeter","photos":"https://api.unsplash.com/users/jenspeter/photos","likes":"https://api.unsplash.com/users/jenspeter/likes","portfolio":"https://api.unsplash.com/users/jenspeter/portfolio","following":"https://api.unsplash.com/users/jenspeter/following","followers":"https://api.unsplash.com/users/jenspeter/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1554546870692-3c6ee502a86b?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1554546870692-3c6ee502a86b?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1554546870692-3c6ee502a86b?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"norouteexplore","total_collections":16,"total_likes":420,"total_photos":48,"accepted_tos":true},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"painting"},{"type":"search","title":"human"}]}]}'
  recorded_at: Mon, 25 Jan 2021 15:16:58 GMT
recorded_with: VCR 6.0.0
